[package]
name = "castle-game"
version = "0.1.37-alpha.0"
edition = "2021"
authors = ["Thomas Versteeg <thomasversteeg@gmx.com>"]
license = "GPL-3.0"
homepage = "https://github.com/tversteeg/castle-game"

readme = "README.md"
description = "2D destructible terrain strategy game"

repository = "https://github.com/tversteeg/castle-game.git"
keywords = ["game", "2d", "destructible"]
categories = ["games"]

[badges]
travis-ci = {repository = "tversteeg/castle-game"}
is-it-maintained-issue-resolution = { repository = "tversteeg/castle-game" }

[features]
inspector = ["bevy-inspector-egui"]

[dependencies]
anyhow = "1.0.56"
bevy = { version = "0.6.1", default-features = false, features = ["trace"] }
bevy-inspector-egui = { version = "0.8.2", optional = true }
bevy_easings = "0.6.0"
bevy_egui = "0.11.1"
bevy_rapier2d = { version = "0.12.1", features = ["simd-stable", "wasm-bindgen", "render"] }
earcutr = "0.2.0"
fastrand = "1.7.0"
geo = "0.19.0"
geo-booleanop = { git = "https://github.com/21re/rust-geo-booleanop.git" }
geo-types = "0.7.3"
itertools = "0.10.3"
lyon_path = "0.17.7"
lyon_tessellation = "0.17.10"
nalgebra = "0.30.1"
noise = { version = "0.7.0", default-features = false }
mock-inspector-derive = { version = "0.0.1", path = "mock-inspector-derive" }
rand = "0.8.5"
tracing-subscriber = "0.3.9"
usvg = { version = "0.22.0", default-features = false }

[target.'cfg(target_arch = "wasm32")'.dependencies]
tracing-wasm = "0.2.1"
console_error_panic_hook = "0.1.7"

[workspace]
members = [".", "mock-inspector-derive"]

# Don't make debug builds painfully slow
[profile.dev]
opt-level = 1

# Always run release versions of slow crates
[profile.dev.package."*"]
opt-level = 3
