[package]
name = "castle-game"
version = "0.1.35-alpha.0"
edition = "2018"
authors = ["Thomas Versteeg <thomasversteeg@gmx.com>"]
license = "GPL-3.0"
homepage = "https://github.com/tversteeg/castle-game"

readme = "README.md"
description = "2D destructible terrain strategy game"

repository = "https://github.com/tversteeg/castle-game.git"
keywords = ["game", "2d", "destructible"]
categories = ["games"]

build = "build.rs"

[badges]
travis-ci = {repository = "tversteeg/castle-game"}
is-it-maintained-issue-resolution = { repository = "tversteeg/castle-game" }

[dependencies]
cgmath = "0.17.0"
collision = "0.20.1"
direct-gui = "0.1.23"
line_drawing = "0.8.0"
minifb = "0.15.3"
rand = "0.7.3"
specs = "0.15.1"
specs-derive = "0.4.0"

[dependencies.rust-embed]
version = "5.2.0"
features = ["interpolate-folder-path"]

[dependencies.blit]
version = "0.5.7"
default-features = false
features = ["aseprite"]

[build-dependencies]
git2 = "0.11.0"
blit = "0.5.7"
image = "0.22.4"
aseprite = "0.1.3"
serde_json = "1.0.46"
