[package]
name = "castle-game"
version = "0.2.0"
edition = "2021"
authors = ["Thomas Versteeg <t@versteeg.email>"]
license = "GPL-3.0"
homepage = "https://github.com/tversteeg/castle-game"

readme = "README.md"
description = "2D destructible terrain strategy game"

repository = "https://github.com/tversteeg/castle-game.git"
keywords = ["game", "2d", "destructible"]
categories = ["games"]

[dependencies]
winit = "0.28.6"
log = "0.4.19"
web-time = "0.2.0"
pixels = "0.13.0"
bytemuck = "1.13.1"
blit = "0.8.2"
game-loop = { version = "0.10.2", features = ["winit"] }
miette = { version = "5.10.0", features = ["fancy"] }
image = { version = "0.24.6", default-features = false, features = ["png"] }
winit_input_helper = "0.14.1"
rotsprite = "0.1.4"
vek = "0.16.1"
assets_manager = { version = "0.10.2", features = ["embedded", "hot-reloading", "toml", "png"], default-features = false }
serde = "1.0.179"
arrayvec = "0.7.4"
itertools = "0.11.0"

[target.'cfg(not(target_arch = "wasm32"))'.dependencies]
tokio = { version = "1.29.1", features = ["macros", "sync", "rt-multi-thread"] }
fastrand = "2.0.0"
puffin = "0.16.0"
puffin_http = "0.13.0"

[target.'cfg(target_arch = "wasm32")'.dependencies]
web-sys = { version = "0.3.64", features = ["CanvasRenderingContext2d", "Document", "Element", "HtmlCanvasElement", "ImageData", "Window"] }
wasm-bindgen = "0.2.87"
wasm-bindgen-futures = "0.4.37"
console_log = { version = "1.0.0", features = ["wasm-bindgen", "color"] }
console_error_panic_hook = "0.1.7"
fastrand = { version = "2.0.0", default-features = false, features = ["js"] }
profiling = "1.0.8"

[workspace]
members = ["run-wasm"]
